<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="favicon">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon/favicon.ico}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="apple-touch-icon" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="manifest" th:href="@{/favicon/site.webmanifest}">
</th:block>
</html>